body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Top Banner Start */
 .flex-box{
     display: flex;
     margin-top: 40px;
 }
 .half-width{
    width: 50%;
    padding-left: 4%;
    margin-right: 2%;
 }
 .half-width .skip-color{
     color: #FB934A;
 }

 .half-width h1 {
    font-size: 58px;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: -2px;
    color: #575757;
}

.half-width h2 {
    color: #383434;
    margin-top: 125px;
}

.half-width p {
    font-size: 20px;
    line-height: 31px;
    color: gray;
    font-style: normal;
    margin-bottom: 30px;
    margin-top: 18px;
    font-weight: 500;
    letter-spacing: 0px;
}

a.link_button {
    border: none;
    padding: 15px 23px;
    color: white;
    background-image: linear-gradient(orange, tomato);
    border-radius: 100px;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0px;
}

.half-width .img-fluid{
    width: 80%;
}
/* Top Banner End */

/* About Section Start */

.about{
    background-image: url(images/shapes/7.png);
    padding-top: 10px;
}

.about h2 {
    margin-top: 100px;
}
/* About Section End */


/* My Recipes Section Start */


.flex-container{
    display: flex;
}
.recipes-info{
    width: 600px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}
.recipes-info p{
    line-height: 27px;
    color: #5f5353;
    margin-bottom: -55px;
}
.singleBox{
    width: 335px;
    margin:0 auto;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 10px  10px 40px gray;
 }

.singleBox img {
    width: 336px;
    height: 252px;
    border-radius: 14px;
}

/* My Recipes Section End */


.socialBox{
    margin-top: 50px;
}